{% extends 'base.html.twig' %}

{% block title %}Снимка{% endblock %}

{% block body %}
    <div class="container text-center mb-4">
        <div class="row">
            <div class="col-8 col-md-5 mx-auto">
                <img class="img-fluid rounded mb-3" src="{{ asset('uploads/img/' ~ photo.path) }}">
            </div>
        </div>
        {% if is_granted('PHOTO_DELETE', photo) %}
            {{ include('photo/_delete_form.html.twig') }}
        {% endif %}
        <h1 class="mb-4">Коментари</h1>
        {% if is_granted('ROLE_USER') %}
            <div class="row mb-3">
                <div class="col-8 col-md-5 mx-auto">
                    {{ render(controller('App\\Controller\\CommentController::form', {'id': photo.id})) }}
                </div>
            </div>
        {% endif %}
        {% for comment in photo.comments %}
            <div class="row mb-3">
                <div class="col-12 col-md-5 mx-auto">
                    <div class="card border-secondary mb-3">
                        <div class="card-header text-left">{{ comment.author.username }}</div>
                        <div class="card-body">
                            <p class="card-text">{{ comment.content }}</p>
                        </div>
                        <div class="card-footer text-secondary d-flex justify-content-between align-items-center">
                            {{ comment.publishedOn|date('d/m/Y H:i:s') }}
                            {% if is_granted('COMMENT_DELETE', comment) %}
                                {{ include('comment/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row mb-3">
                <div class="col-12 col-md-5 mx-auto">
                    <p class="border p-3 rounded">Няма добавени коментари за тази снимка.</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
