<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>{% block title %}Начало{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Галерия</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home_index') }}">Начало</a>
                </li>
                <li class="nav-item dropdown">
                    {% if app.user %}
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdownPhoto" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Снимки
                        </a>
                        <div class="dropdown-menu text-center">
                            <a class="dropdown-item" href="{{ path('photo_index') }}">Виж всички</a>
                            <a class="dropdown-item" href="{{ path('photo_new') }}">Качи снимка</a>
                        </div>
                    {% else %}
                        <a class="nav-link" href="{{ path('photo_index') }}">Снимки</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_index') }}">Потребители</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('message_new') }}">Контакти</a>
                </li>

            </ul>
            {% if app.user %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown text-center">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdownProfile" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right text-center">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('admin_home_index') }}">Администраторски панел</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('user_edit') }}">Редактиране на профил</a>
                            <a class="dropdown-item" href="{{ path('security_logout') }}">Изход</a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav m-2">
                    <li class="navbar-btn my-1 my-lg-0 mx-1 d-flex justify-content-center">
                        <a class="btn btn-sm btn-success" href="{{ path('security_login') }}">Вход</a>
                    </li>
                    <li class="navbar-btn my-1 my-lg-0 mx-1 d-flex justify-content-center">
                        <a class="btn btn-sm btn-success" href="{{ path('user_register') }}">Регистрация</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>

    <div class="col-xs-12 col-lg-8 mx-auto text-center py-3">
        {{ include('default/session_flash_bag.html.twig') }}
    </div>

    {% block body %}{% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>
